:root {
	--color-white: #fff;
	--color-black: #000;
	--color-black-alt: #292d32;
	--color-black-alt-2: #404b52;
	--color-gray: #9197b3;
	--color-gray-alt: #b5b7c0;
	--color-gray-alt-2: #f5f5f5;
	--color-gray-alt-3: #eeeeee;
	--color-gray-alt-4: #838383;
	--color-gray-alt-5: #757575;
	--color-light-gray: #fafbff;
	--color-accent: #5932ea;
	--color-green: #16c098;
	--color-green-alt: #00b087;
	--color-green-alt-2: #008767;
	--color-green-alt-3: #16C098;
	--color-red: #df0404;
	--color-red-alt: #ffc5c5;

	--font-family-base: Poppins;

	--input-height: 38px;

	--transition-duration: 0.2s;
}
