<ul class="paginate">
	<li class="paginate__item">
		<a class="paginate__link" href="/">
			<span class='visually-hidden'>previous</span>
			<svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M2.936 6.392L0.176 3.668L2.936 0.944H4.664L1.892 3.668L4.664 6.392H2.936Z" fill="#404B52" />
			</svg>
		</a>
	</li>
	<li class="paginate__item">
		<a class="paginate__link" href="/">
			1
		</a>
	</li>
	<li class="paginate__item">
		<a class="paginate__link" href="/">
			2
		</a>
	</li>
	<li class="paginate__item">
		<a class="paginate__link" href="/">
			3
		</a>
	</li>
	<li class="paginate__item">
		<a class="paginate__link" href="/">
			4
		</a>
	</li>
	<li class="paginate__item paginate__item--y-end">
		...
	</li>
	<li class="paginate__item">
		<a class="paginate__link" href="/">
			40
		</a>
	</li>
	<li class="paginate__item">
		<a class="paginate__link" href="/">
			<span class='visually-hidden'>next</span>
			<svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.344 0.944H2.072L4.832 3.668L2.072 6.392H0.344L3.116 3.668L0.344 0.944Z" fill="#404B52" />
			</svg>
		</a>
	</li>
</ul>